@model IEnumerable<Models.EF.UserGroup>

@{
    ViewBag.Title = "Quản lý Nhóm người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 style="text-transform: uppercase; font-weight:bold">Quản lý Nhóm người dùng</h3>
<hr />

<p>
    <input type="button" class="btn btn-primary" value="Thêm Nhóm người dùng" onclick="location.href='@Url.Action("Create", "UserGroups")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <input type="button" class="btn btn-sm btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", "UserGroups", new { id=item.GroupId })'" /> |
            <input type="button" class="btn btn-sm btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", "UserGroups", new { id=item.GroupId })'" />
        </td>
    </tr>
}

</table>
