
@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<Models.EF.Product>

<h3 id="title_spmoi" style="text-align: center; background-color: #E9B852">TẤT CẢ SẢN PHẨM</h3>

<div class="ct-boxmain row m0">
    @{ int i = 0;
        foreach (var sp in Model)
        {
            i++;
            <div class="col-xs-6 col-sm-4 col-md-3 p5">
                    <div class="boxsp">
                        <div class="imgsp">
                            <a href="@Url.Action("DetailProduct", new { @Id = sp.ProductId })" data-toggle="tooltip" title="@sp.Name"><img class="imgproduct" style="width:200px;height:180px;" src="@Url.Content("~/image/" + sp.Photo)"></a>

                            @{ if (sp.Discount > 0)
                                {
                                    <div class="img-label">
                                        <img style="width:50px ;height:50px" src="~/image/sale-icon.png">
                                    </div>
                                }
                            }

                        </div>
                        <div class="namesp">
                            <a href="">@sp.Name</a>
                        </div>
                        <div style="display:flex; justify-content:space-around; align-items:center">

                            <div class="pricesp"
                                 style="@(sp.Discount > 0 ? "text-decoration: line-through; color:#999;" : "")">
                                @sp.Price.GetValueOrDefault(0).ToString("N0")₫
                            </div>

                            @if (sp.Discount > 0)
                            {
                                <div class="pricesp" style="color:crimson; font-weight:bold;">
                                    @string.Format("{0:#,###.##}",
                                        (sp.Price - (sp.Price * sp.Discount * 0.01)))₫
                                </div>
                            }

                        </div>

                        <div class="button-hd">
                            <a href="/them-gio-hang?ProductId=@sp.ProductId&quantity=1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
            </div>
            if (i % 4 == 0)
            {
                <div style="clear:both;"></div>
            }



        }
    }

</div>

<div style="clear:both;"></div>
<div>
    <div class="Menutrang">
        @Html.PagedListPager(Model, page => Url.Action("ShowProduct", new { page = page }))
    </div>
</div>


<style>
    .Menutrang li {
        display: inline;
    }
</style>


